schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Definición del elemento raíz -->
  <xs:element name="rss">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="channel" type="ChannelType"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Tipo Channel: los metadatos del feed -->
  <xs:complexType name="ChannelType">
    <xs:sequence>
      <xs:element name="title"       type="xs:string"/>
      <xs:element name="link"        type="xs:anyURI"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="language"    type="xs:string"/>
      <xs:element name="lastBuildDate" type="xs:string" minOccurs="0"/>
      <!-- Puede haber de 1 a infinitos items -->
      <xs:element name="item" type="ItemType"
                  minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Tipo Item: cada noticia Erasmus -->
  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element name="title"       type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="pubDate"     type="xs:string"/>
      <xs:element name="link"        type="xs:anyURI"  minOccurs="0"/>
      <xs:element name="author"      type="xs:string"  minOccurs="0"/>
      <xs:element name="category"    type="xs:string"  minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
